.portfolio-content-pixxy  {
  .single-pagination {
    margin-bottom: 0;
    padding: 40px 15px 50px;

    @media (max-width: 991px) {
      padding-left: 25px;
      padding-right: 25px;
    }

    @media (max-width: 767px) {
      padding-bottom: 35px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

/*------------------------------------------------------*/
/*---------------------- 11. PORTFOLIO SIMPLE GALLERY----------------------*/

.simple_gallery {
  &.portfolio-content-pixxy {
    margin: 100px 0 0;
  }
  .post-media {
    margin-top: 105px;
  }
  .post-slider-img {
    min-height: 90vh;
  }
  .img-slider {
    position: relative;
  }
  .slick-slider {
    margin-bottom: 0;
  }
  .flex-prev,
  .flex-next {
    position: absolute;
    top: 50%;
    display: block;
    padding: 16px 25px;
    color: #222222;
    font-size: 24px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: #222;
    transition: background-color .35s ease;
    z-index: 10;
    cursor: pointer;
    i {
      color: #ffffff;
      transition: color .35s ease;
    }
    &:hover {
      background-color: #ffffff;
      i {
        color: #222222;
      }
    }
  }
  .flex-prev {
    left: 0;
  }
  .flex-next {
    right: 0;
  }
  .categories {
    a {
      font-size: 15px;
      font-weight: bold;
      color: #888;
      text-decoration: none;
      line-height: 2;
      left: 0;
      &:hover {
        text-decoration: none;
        color: #222;
      }
    }
  }
  .title {
    margin-top: 30px;
    font-size: 50px;
  }
  .text {
    margin-bottom: 60px;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    p {
      margin-bottom: 20px;
      color: #888;
      font-size: 15px;
      line-height: 1.6;
    }
  }
  .info-item-wrap {
    margin-left: -25px;
    margin-right: -25px;
    .item {
      display: inline-block;
      margin-right: 25px;
      margin-left: 25px;
    }
    .name {
      margin-bottom: 13px;
      font-size: 15px;
      color: #222;
      font-weight: bold;
    }
    .text-item,
    .text-item a {
      color: #888;
      font-size: 15px;
      text-decoration: none;
    }
    .text-item a {
      &:hover {
        color: #222;
      }
    }
  }
}
@media only screen and (min-width: 991px) {
  .simple_gallery {
    .info-wrap,
    .text-wrap {
      padding: 0 85px;
    }
  }
}
@media only screen and (max-width: 1199px) {
  .simple_gallery {
    &.portfolio-content-pixxy {
      margin-top: 40px;
    }
    .post-media {
      margin-top: 55px;
    }
    .text-wrap {
      text-align: center;
    }
    .info-wrap {
      margin-top: 10px;
      text-align: center;
    }
    .title {
      margin-top: 20px;
    }
  }
}
@media only screen and (max-width: 991px) {
  .simple_gallery {
    &.portfolio-content-pixxy {
      margin-top: 40px;
    }
    .text {
      padding: 0 15px;
    }
    .post-slider-img {
      min-height: 550px;
    }
  }
  .simple_gallery .title{
    font-size: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .simple_gallery{
    .post-media{
      margin-top: 45px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .simple_gallery {
    &.portfolio-content-pixxy {
      margin-top: 30px;
    }
    .text{
      padding: 0;
    }
    .post-media {
      margin-top: 10px;
    }
    .post-slider-img {
      min-height: 300px;
    }
    .info-item-wrap {
      text-align: center;
      .item {
        display: block;
        margin-bottom: 20px;
      }
    }
    .info-wrap {
      margin-top: 0;
    }
    .text-wrap {
      margin-bottom: 30px;
      text-align: center;
    }
    .text {
      margin-bottom: 30px;
      text-align: center;
    }
    .title {
      margin-top: 10px;
      font-size: 30px;
    }
    .flex-prev,
    .flex-next {
      padding: 15px 20px;
      font-size: 20px;
    }
  }
}


/*------------------------------------------------------*/
/*---------------------- 12. PORTFOLIO SIMPLE SLIDER----------------------*/
.simple_slider {
  .row > .col-xs-12 {
    padding-left: 25px;
    padding-right: 25px;
  }
  .single-pagination {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 50%;
      width: 200%;
      transform: translateX(-50%);
      top: 0;
      display: block;
      height: 1px;
      background-color: #eeeeee;
          }
  }
  .post-media {
    margin-right: -25px;
    margin-left: -25px;
    width: -webkit-calc(100% + 50px);
    width: calc(100% + 50px);
    .swiper-slide{
      width: 50%!important;
    }
    .s-back-switch{
      background-position: center;
      background-size: cover;
      min-height: 640px;
      max-height: 100vh;
      margin: 0 25px;
    }
    .swiper-pagination {
      position: static;
      margin-top: 40px;
      &-bullet {
        width: 10px;
        height: 10px;
        margin: 0 10px;
        opacity: 1;
        background-color: #222;
        &-active {
          background-color: #0073e6;
        }
      }
    }
  }
  .desc-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1110px;
    margin: 90px auto;
  }
  .info-wrap {
    width: 20%;
    margin-right: 50px;
    .date {
      margin-bottom: 30px;
      font-size: 24px;
      font-weight: bold;
      color: #222;
    }
    .item {
      margin-bottom: 50px;
    }
    .name {
      margin-bottom: 15px;
      font-size: 15px;
      font-weight: bold;
      line-height: normal;
      color: #222;
    }
    .text-item,
    .text-item a {
      color: #888;
      font-size: 15px;
      text-decoration: none;
    }
    .text-item a {
      &:hover {
        color: #222;
      }
    }
    a {
      -webkit-transition: color .3s ease;
      -o-transition: color .3s ease;
      transition: color .3s ease;
      &:hover {
        color: #222;
      }
    }
    .social-list {
      padding: 0;
      text-align: left;
      li {
        margin: 0;
        &:not(:last-of-type) {
          margin-right: 25px;
        }
      }
      a {
        color: #222;
        font-size: 18px;
        &:hover {
          color: #0073e6;
        }
      }
      &:hover a {
        opacity: 1;
      }
    }
  }
  .text-wrap {
    width: calc(80% - 50px);
    .title {
      margin-bottom: 25px;
      font-size: 50px;
      line-height: 1;
    }
    .text {
      margin-bottom: 45px;
      color: #888;
      font-size: 15px;
      line-height: 1.6;
      -ms-word-wrap: break-word;
      word-wrap: break-word;
      p {
        margin-bottom: 30px;
      }
    }
  }
  .images-wrap {
    max-width: 1570px;
    margin: 100px auto 90px;
    .item-single {
      margin: 25px;
      width: calc(50% - 50px);
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .blockquote {
    position: relative;
    max-width: 870px;
    margin: 0 auto 90px;
    font-size: 30px;
    text-align: center;
    padding: 25px 70px;
    font-weight: normal;
    line-height: 1.6;
    color: #222;
    &::before {
      display: block;
      color: #0073e6;
      font-family: "Ionicons", sans-serif;
      font-size: 56px;
      content:"\f347";
    }
    cite {
      display: block;
      margin-top: 35px;
      color: #888;
      font-size: 15px;
      font-style: normal;
      font-weight: bold;
      line-height: 1.6;
    }
  }
}

@media only screen and (max-width: 1199px) {
  .simple_slider {
    .post-media {
      .s-back-switch {
        min-height: 500px;
        margin: 0 15px;
      }
    }
    .desc-wrapper {
      margin: 70px auto;
    }
    .images-wrap {
      margin: 60px -25px;
    }
    .blockquote {
      margin-bottom: 60px;
    }
    .info-wrap {
      width: 40%;
      margin-right: 30px;
    }
    .text-wrap {
      width: calc(60% - 30px);
      .title {
        font-size: 40px;
      }
    }
  }
}
@media only screen and (max-width: 991px) {
  .simple_slider {
    .info-wrap {
      .item {
        width: 100%!important;
      }
    }
    .images-wrap {
      .item-single {
        margin: 15px;
        width: calc(50% - 30px);
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  .simple_slider {
    .desc-wrapper {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin: 40px auto 50px;
      text-align: center;
    }
    .info-wrap,
    .text-wrap {
      width: 100%;
      margin-right: 0;
    }
    .text-wrap {
      .text {
        margin-bottom: 30px;
      }
    }
    .info-wrap {
      .social-list {
        text-align: center;
      }
      .name {
        margin-bottom: 10px;
        font-size: 16px;
      }
      .date {
        font-size: 24px;
      }
    }
    .images-wrap {
      margin: 30px auto;
      .item-single {
        margin: 0 0 15px;
        width: 100%;
      }
    }
    .blockquote {
      margin-bottom: 10px;
      font-size: 20px;
      max-width: 510px;
      cite {
        margin-top: 25px;
      }
    }

  }
  .simple_slider .post-media .swiper-pagination{
    margin-top: 30px;
  }
  .simple_slider .post-media .s-back-switch{
    min-height: 400px;
  }
  .simple_slider .post-media .swiper-slide{
    width: 100%!important;
  }
  .simple_slider .info-wrap .item{
    margin-bottom: 40px;
  }
  .simple_slider .text-wrap .title{
    font-size: 30px;
    margin-bottom: 30px;
  }
  .simple_slider .blockquote::before{
    font-size: 40px;
  }
}

/*------------------------------------------------------*/
/*---------------------- 13. PORTFOLIO URBAN ----------------------*/
.urban {
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 20px;
  }
  .banner-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #f2fffd;
    .img-wrap {
      width: 67%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .main-info-wrap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 33%;
      padding: 70px 100px;
      .excerpt-wrap {
        width: 100%;
      }
    }
    .title {
      display: inline-block;
      font-size: 50px;
    }
    .excerpt {
      margin-top: 15px;
      color: #888;
      font-size: 15px;
      line-height: 1.6;
      -ms-word-wrap: break-word;
      word-wrap: break-word;
    }
  }
  .descr-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1110px;
    margin: 90px auto 70px;
  }
  .info-item-wrap {
    width: 20%;
    .date {
      margin-bottom: 30px;
      font-size: 30px;
      font-weight: 800;
    }
    .item {
      margin-bottom: 50px;
    }
    .name {
      margin-bottom: 15px;
      font-size: 15px;
      font-weight: bold;
      color: #222;
      line-height: normal;
    }
    .text-item,
    .text-item a {
      color: #888;
      font-size: 15px;
      text-decoration: none;
    }
    .text-item a {
      &:hover {
        color: #222;
      }
    }
    a {
      -webkit-transition: color .3s ease;
      -o-transition: color .3s ease;
      transition: color .3s ease;
      &:hover {
        color: #222;
      }
    }
  }
  .text-wrap {
    width: calc(80% - 50px);
    margin-right: 50px;
    .title {
      margin-bottom: 45px;
      font-size: 50px;
      font-weight: 800;
      line-height: 1.4;
    }
    .text {
      margin-bottom: 40px;
      color: #888;
      font-size: 15px;
      line-height: 1.6;
      -ms-word-wrap: break-word;
      word-wrap: break-word;
      p {
        margin-bottom: 20px;
      }
    }
  }
  .blockquote {
    position: relative;
    max-width: 870px;
    margin: 90px auto 155px;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.6;
    text-align: center;
    &::before {
      display: block;
      color: #888;
      font-family: "Ionicons", sans-serif;
      font-size: 56px;
      content: "\f347";
    }
    cite {
      display: block;
      margin-top: 35px;
      color: #888;
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: 1.6;
      text-transform: uppercase;
    }
  }
  .social-list {
    margin-bottom: 90px;
    padding: 0 25px;
    text-align: center;
    li {
      margin: 0;
      &:not(:last-of-type) {
        margin-right: 20px;
      }
    }
    a {
      display: inline-block;
      border-radius: 50%;
      width: 45px;
      height: 45px;
      border: solid 1px #eeeeee;
      text-align: center;
      line-height: 43px;
      color: #bbb;
      font-size: 16px;

      &:hover {
        color: #0073e6;
      }
    }
  }
  .gallery-wrap {
    margin-bottom: 45px;
    text-align: center;
    img {
      max-width: 1170px;
      width: 100%;
      margin-bottom: 30px;
      &:nth-of-type(1),
      &:nth-of-type(2) {
        width: 50%;
        padding: 15px;
      }
    }
  }
}
@media only screen and (max-width: 1399px) and (min-width: 1200px) {
  .urban {
    .banner-wrap {
      .main-info-wrap {
        padding: 70px 70px;
      }
    }
    .blockquote {
      margin: 40px auto 85px;
    }
  }
}
@media only screen and (max-width: 1199px) {
  .urban {
    .banner-wrap {
      .img-wrap,
      .main-info-wrap {
        width: 50%;
      }
      .main-info-wrap {
        padding: 70px 30px;
      }
      .title {
        font-size: 40px;
        &::after {
          margin: 25px 0;
        }
      }
    }
    .desc-wrapper {
      margin-top: 60px;
    }
    .info-item-wrap {
      width: 40%;
    }
    .text-wrap {
      width: calc(60% - 30px);
      margin-right: 30px;
    }
    .blockquote {
      margin: 40px auto 85px;
    }
  }
}
@media only screen and (max-width: 991px) {
  .urban {
    .desc-wrapper {
      margin-top: 70px;
    }
    .text-wrap {
      .text {
        p {
          margin-bottom: 30px;
        }
      }
    }
    .info-item-wrap {
      .item {
        width: 100%!important;
      }
    }
    .blockquote {
      margin: 30px 15px 75px;
    }
    .social-list {
      margin-bottom: 55px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .urban {
    .gallery-wrap {
      margin-bottom: 0;
    }
    .banner-wrap {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      min-height: auto !important;
      height: auto !important;
      .img-wrap,
      .main-info-wrap {
        width: 100%;
      }
      .img-wrap {
        img {
          height: auto;
        }
      }
      .main-info-wrap {
        padding: 30px 15px;
        .excerpt-wrap {
          text-align: center;
        }
      }
      .excerpt {
        margin-top: 5px;
      }
      .title {
        font-size: 30px;
        &::after {
          margin: 15px 0 20px;
        }
      }
    }
    .descr-wrapper {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin: 30px auto 20px;
    }
    .info-item-wrap {
      margin-top: 35px;
    }
    .info-item-wrap,
    .text-wrap {
      width: 100%;
      margin-right: 0;
      text-align: center;
      .item {
        margin-bottom: 10px;
        &:not(:last-of-type) {
          margin-bottom: 20px;
        }
      }
      .text {
        margin-bottom: 40px;
        text-align: center;
        p {
          margin-bottom: 20px;
        }
      }
    }
    .blockquote {
      margin: 0 auto 45px;
      padding: 0 15px;
      font-size: 20px;
      &::before {
        font-size: 38px;
      }
      cite {
        margin-top: 20px;
      }
    }
    .social-list {
      margin-top: 0;
      margin-bottom: 25px;
    }
    .btn-wrapper {
      text-align: center;
    }
  }
}

/*------------------------------------------------------*/
/*---------------------- 14. PORTFOLIO TILE INFO ----------------------*/

.tile_info {
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 20px;
  }
  .banner-wrap {
    position: relative;
    .img-wrap {
      -webkit-background-size: cover;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      min-height: 800px;
    }
    .text-wrap {
      padding: 70px 15px;
      text-align: center;
      height: 350px;
    }
    .title {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      margin: 0;
      font-size: 50px;
      font-weight: 800;
      letter-spacing: .2px;
      text-align: center;
    }
  }
  .text-gallery-wrap {
    margin: 0 -25px;
    .info-wrap {
      padding: 105px 70px;

      h3 {
        line-height: 1.4;
      }
    }
    .info-item-wrap {
      display: flex;
      margin-top: 40px;
      .date {
        margin-bottom: 30px;
        font-size: 12px;
        font-weight: 600;
      }
      .item {
        float: none;
        &:not(:last-of-type) {
          margin-right: 50px;
        }
      }
      .name {
        margin-bottom: 15px;
        font-size: 15px;
        line-height: normal;
        color: #222;
        font-weight: bold;
      }
      .text-item {
        color: #888;
        font-size: 15px;
        line-height: 1.6;
        a {
          color: #888;
          text-decoration: none;
          &:hover {
            color: #222;
          }
        }
      }
      a {
        -webkit-transition: color .3s ease;
        -o-transition: color .3s ease;
        transition: color .3s ease;
        &:hover {
          color: #222;
        }
      }
    }
    .text-wrap {
      .title {
        margin-bottom: 45px;
        font-size: 50px;
        font-weight: 800;
        line-height: 1.4;
      }
      .text {
        margin-bottom: 45px;
        color: #888;
        font-size: 15px;
        line-height: 1.6;
        -ms-word-wrap: break-word;
        word-wrap: break-word;
        h6 {
          color: #0073e6;
          font-size: 18px;
          font-weight: bold;
        }
        p {
          margin-bottom: 30px;
        }
      }
    }
  }
  .gallery-item {
    width: 50%;
    padding: 25px;
    height: auto;
    &:last-child {
      width: 100%;
    }
  }
  .blockquote {
    position: relative;
    padding: 25px 70px;
    font-size: 21px;
    font-weight: normal;
    line-height: 1.6;
    text-align: center;
    color: #222;
    &::before {
      display: block;
      color: #0073e6;
      font-family: "Ionicons", sans-serif;
      font-size: 44px;
      content: "\f347";
    }
    cite {
      display: block;
      margin-top: 35px;
      color: #888;
      font-size: 15px;
      font-style: normal;
      font-weight: bold;
      line-height: 1.6;
    }
  }
  .social-list {
    margin-top: 60px;
    padding: 0 25px;
    text-align: center;
    li {
      margin: 0;
      &:not(:last-of-type) {
        margin-right: 20px;
      }
    }
    a {
      display: inline-block;
      border-radius: 50%;
      width: 45px;
      height: 45px;
      border: solid 1px #eeeeee;
      text-align: center;
      line-height: 43px;
      color: #bbb;
      font-size: 16px;

      &:hover {
        color: #0073e6;
      }
    }
  }
  .recent-posts-wrapper {
    margin-top: 110px;
    padding: 100px 0;
    background-color: #f2fffd;
    .subtitle {
      margin-bottom: 20px;
      color: #888;
      font-size: 18px;
      font-weight: bold;
      text-align: center;
    }
    .title {
      font-size: 30px;
      font-weight: 800;
      text-align: center;
      color: #222222;
    }
    .s-back-switch {
      display: block;
      width: 100%;
      height: 360px;
      margin-bottom: 15px;
      -webkit-background-size: cover;
      background-size: cover;
      background-position: center;
    }
    .recent-wrapper {
      margin-top: 80px;
    }
  }
}
@media only screen and (max-width: 1200px) {
  .tile_info .banner-wrap .text-wrap{
    height: 300px;
  }
  .tile_info {
    .blockquote {
      padding: 25px 40px;
      font-size: 18px;
    }
    .recent-posts-wrapper {
      margin-top: 80px;
      padding: 60px 0;
      .recent-wrapper {
        margin-top: 40px;
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .tile_info .banner-wrap .text-wrap{
    padding: 70px 15px;
    height: auto;
    .title{
      top: auto;
      -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      -o-transform: none;
      transform: none;
    }
  }
  .tile_info .text-gallery-wrap .info-item-wrap{
    text-align: center;
  }
  .tile_info {
    .text-gallery-wrap {
      margin: 20px 10px 0;
      .info-wrap {
        padding: 15px;
      }
      .info-item-wrap {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        .item {
          &:not(:last-of-type) {
            margin-right: 20px;
          }
        }
      }
    }
    .text-wrap {
      text-align: center;
    }
    .gallery-item {
      width: 100%;
      padding: 15px;
    }
    .blockquote {
      &::before {
        font-size: 40px;
      }
      cite {
        margin-top: 25px;
      }
    }
    .social-list {
      margin-top: 30px;
    }
    .recent-posts-wrapper {
      margin-top: 40px;
      padding: 40px 0;
      .subtitle {
        margin-bottom: 5px;
      }
      .recent-wrapper {
        margin-top: 30px;
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  .tile_info .recent-posts-wrapper .title{
    font-size: 25px;
  }
  .tile_info .blockquote{
    margin: 20px auto 30px;
  }
  .tile_info .gallery-item{
    padding-bottom: 0;
  }
  .tile_info .banner-wrap .text-wrap{
    padding: 40px 15px;

  }
  .tile_info .text-gallery-wrap .text-wrap .text p{
    margin-bottom: 15px;
  }
  .tile_info {
    .banner-wrap {
      .title {
        padding: 0 15px 10px;
        font-size: 30px;
      }
      .img-wrap {
        min-height: 240px;
      }
    }
    .social-list {
      margin-top: 40px;
    }
    .recent-posts-wrapper {
      margin-top: 50px;
      padding: 50px 10px 20px;
    }
    .text-gallery-wrap {
      margin-top: 10px;
      .info-item-wrap {
        flex-direction: column;
        align-items: center;
        .item {
          margin-bottom: 15px;
          text-align: center;
          &:not(:last-of-type) {
            margin-right: 0;
          }
        }
      }
      .text-wrap {
        .text {
          margin-top: 5px;
          margin-bottom: 15px;
        }
      }
    }
    .recent-post-wrapper {
      margin-top: 40px;
      padding-top: 40px;
    }
  }
}

/*------------------------------------------------------*/
/*---------------------- 15. PORTFOLIO ALIA ----------------------*/
.alia {
  &.single-pagination {
    &::before {
      content: "";
      position: absolute;
      left: 50%;
      width: 200%;
      transform: translateX(-50%);
      top: 0;
      display: block;
      height: 1px;
      background-color: #eeeeee;
    }
  }
}
.alia {
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 20px;
  }
  .banner-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 800px;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    padding-left: 25px;
    padding-right: 25px;
    .title {
      max-width: 675px;
      color: #ffffff;
      font-size: 60px;
      text-align: center;
    }
  }
  .single-share {
    padding-left: 25px;
    padding-right: 25px;
  }
  .text-gallery-wrap {
    padding-left: 15px;
    padding-right: 15px;
    .additional-text {
      max-width: 970px;
      margin: 120px auto 0;
      font-size: 30px;
      font-weight: bold;
      line-height: 1.4;
      text-align: center;
      -ms-word-wrap: break-word;
      word-wrap: break-word;
      color: #222;
    }
    .info-item-wrap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-top: 95px;
      .item {
        width: 25%;
        &:not(:last-of-type) {
          margin-right: 30px;
        }
      }
      .name {
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #eee;
        font-size: 15px;
        font-weight: bold;
        color: #222;
      }
      .text-item,
      a {
        color: #888;
        font-size: 18px;
        line-height: 1.6;
        text-decoration: none;
      }
      a {
        -webkit-transition: color .3s ease;
        -o-transition: color .3s ease;
        transition: color .3s ease;
        &:hover {
          color: #222;
        }
      }
    }
    .btn-wrapper {
      margin-top: 95px;
      text-align: center;
    }
  }
  .gallery-wrap-additional {
    margin-top: 60px;
  }
  .gallery-item {
    width: 50%;
  }
  .text-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 110px auto 0;
    padding-left: 15px;
    padding-right: 15px;
    .title-for-text {
      color: #222;
      width: calc(30% - 100px);
      margin-right: 100px;
      font-size: 30px;
      font-weight: bold;
      line-height: 1;
      -ms-word-wrap: break-word;
      word-wrap: break-word;
    }
    .text {
      width: 70%;
      p {
        margin-bottom: 30px;
        color: #888;
        font-size: 18px;
        line-height: 1.6;
        -ms-word-wrap: break-word;
        word-wrap: break-word;
      }
    }
  }
  .gallery-wrap-main {
    margin: 70px -15px 0;
    .gallery-item {
      width: auto;
      margin: 15px;
    }
  }
  .social-list {
    margin-top: 70px;
    margin-bottom: 70px;
    padding: 0 25px;
    text-align: center;
    li {
      margin: 0;
      &:not(:last-of-type) {
        margin-right: 20px;
      }
    }
    a {
      display: inline-block;
      border-radius: 50%;
      width: 45px;
      height: 45px;
      border: solid 1px #eeeeee;
      text-align: center;
      line-height: 43px;
      color: #bbb;
      font-size: 16px;

      &:hover {
        color: #0073e6;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .alia .text-gallery-wrap .btn-wrapper {
    margin-top: 70px;
  }
  .alia .gallery-wrap-main .gallery-item{
    width: calc(50% - 30px);
    img {
      width: 100%;
    }
  }
  .alia {
    .banner-wrap {
      min-height: 600px;
    }
    .text-wrap {
      margin-top: 70px;
    }
    .text-gallery-wrap {
      .additional-text {
        margin-top: 80px;
      }
    }
  }
}
@media only screen and (max-width: 1024px) {
  .alia .gallery-wrap-main{
    margin-top: 30px;
  }
}
@media only screen and (max-width: 991px) {
  .alia {
    .banner-wrap {
      min-height: 500px;
    }
    .text-wrap {
      padding: 0 15px;
      .title-for-text {
        width: calc(30% - 30px);
        margin-right: 30px;
      }
    }
    .gallery-wrap-main {
      margin: 40px auto 0;
      .gallery-item {
        width: calc(50% - 30px);
        margin: 15px;
      }
    }
    .text-gallery-wrap {
      .info-item-wrap {
        .item {
          text-align: center;
        }
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  .alia {
    .banner-wrap {
      min-height: 340px;
      .title {
        font-size: 38px;
      }
    }
    .text-wrap {
      padding: 0 25px;
    }
    .text-gallery-wrap {
      padding: 0 25px;
      .additional-text {
        margin: 40px auto 0;
        font-size: 20px;
      }
      .info-item-wrap {
        flex-direction: column;
        align-items: center;
        margin-top: 45px;
        .name {
          padding-bottom: 10px;
        }
        .text-item,
        a {
          font-size: 15px;
        }
        .item {
          width: auto;
          text-align: center;
          &:not(:last-of-type) {
            margin-right: 0;
            margin-bottom: 30px;
          }
        }
      }
      .btn-wrapper {
        margin-top: 50px;
      }
    }
    .gallery-wrap-additional {
      margin-top: 50px;
    }
    .gallery-item {
      width: 100%;
    }
    .text-wrap {
      margin-top: 40px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      text-align: center;
      .title-for-text,
      .text {
        width: 100%;
        p {
          font-size: 15px;
          margin-bottom: 20px;
        }
      }
      .title-for-text {
        margin-right: 0;
        margin-bottom: 20px;
        font-size: 20px;
      }
    }
    .gallery-wrap-main {
      max-width: 100%;
      width: 100%;
      margin: 10px 0 0;
      .gallery-item {
        width: 100%;
        margin: 0;
        padding: 0 25px;
        margin-bottom: 25px;
        text-align: center;
      }
    }
    .social-list {
      margin-top: 20px;
      margin-bottom: 40px;
    }
  }
}

/*------------------------------------------------------*/
/*---------------------- 16. PORTFOLIO MENIO ----------------------*/
.menio {
  .banner-wrap {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 100vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    z-index: 1;
    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .5);
      content: "";
      z-index: -1;
    }
    .title {
      max-width: 675px;
      color: #ffffff;
      font-size: 60px;
      text-align: center;
    }
    .single-share {
      position: absolute;
      bottom: 100px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
    }
    .social-list {
      margin: 0;
      li {
        &:not(:last-of-type) {
          margin-right: 30px;
        }
        a {
          width: auto;
          height: auto;
          border: 0;
          color: #ffffff;
          font-size: 18px;
          &:hover {
            color: #0073e6;
          }
        }
      }
      &:hover a {
        opacity: 1;
      }
    }
  }
  .text-gallery-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 140px;
    padding: 0 15px;
  }
  .blockquote {
    width: calc(50% - 80px);
    margin-right: 80px;
    font-size: 27px;
    font-weight: bold;
    color: #222;
    cite {
      display: block;
      margin-top: 35px;
      color: #0073e6;
      font-size: 15px;
      font-style: normal;
      font-weight: bold;
      line-height: 1.6;
    }
  }
  .additional-text {
    width: 50%;
    color: #888;
    font-size: 15px;
    line-height: 1.6;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
  }
  .gallery-wrap-main {
    margin: 100px 15px 0;
    .grid-sizer{
      width: 25%;
    }
    .gallery-item {
      display: block;
      padding: 15px;
      div {
        width: 100%;
        height: 590px;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center;
      }
      width: 75%;
      &:nth-of-type(4n-1),
      &:nth-of-type(4n-2) {
        width: 25%;
      }
    }
  }
  .text-wrap {
    margin-top: 70px;
    padding: 0 15px;
    .text {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
    }

    h1, h2, h3, h4, h5, h6 {
      width: 100%;
      -ms-word-wrap: break-word;
      word-wrap: break-word;
      line-height: 1.35;
    }
    h6 {
      font-size: 15px;
    }
    h3, h2, h1 {
      margin-bottom: 40px;
    }
    p {
      width: calc(50% - 15px);
      color: #888;
      font-size: 15px;
      line-height: 1.6;
      -ms-word-wrap: break-word;
      word-wrap: break-word;
    }
  }
  .gallery-wrap-additional {
    margin: 60px 15px 0;
    text-align: center;
    .gallery-item {
      width: 100%;
      &:not(:last-of-type) {
        margin-bottom: 30px;
      }
    }
  }
  .social-list {
    margin-bottom: 0;
    margin-top: 90px;
    padding: 0 25px;
    text-align: center;
    li {
      margin: 0;
      &:not(:last-of-type) {
        margin-right: 20px;
      }
    }
    a {
      display: inline-block;
      border-radius: 50%;
      width: 45px;
      height: 45px;
      border: solid 1px #eeeeee;
      text-align: center;
      line-height: 43px;
      color: #bbb;
      font-size: 16px;

      &:hover {
        color: #0073e6;
      }
    }
  }
  .recent-posts-wrapper {
    margin-top: 90px;
    padding: 90px 0;
    background-color: #f2fffd;
    .subtitle {
      margin-bottom: 20px;
      color: #888;
      font-size: 18px;
      font-weight: bold;
      text-align: center;
    }
    .title {
      font-size: 30px;
      font-weight: 800;
      text-align: center;
      color: #222222;
    }
    .s-back-switch {
      display: block;
      width: 100%;
      height: 360px;
      margin-bottom: 15px;
      -webkit-background-size: cover;
      background-size: cover;
      background-position: center;
    }
    .recent-wrapper {
      margin-top: 80px;
    }
  }
}
@media only screen and (max-width: 1200px) {
  .menio {
    .banner-wrap {
      .single-share {
        bottom: 50px;
      }
    }
    .text-gallery-wrap {
      margin-top: 90px;
    }
    .gallery-wrap-main {
      margin-top: 70px;
    }
    .social-list {
      margin-top: 70px;
    }
    .recent-posts-wrapper {
      margin-top: 70px;
      padding: 70px 0;
      .recent-wrapper {
        margin-top: 40px;
      }
    }
  }
}
@media only screen and (max-width: 991px) {
  .menio {
    .banner-wrap {
      .title {
        font-size: 60px;
      }
      .single-share {
        bottom: 50px;
      }
    }
    .text-gallery-wrap {
      margin-top: 70px;
    }
    .blockquote {
      font-size: 24px;
      cite {
        margin-top: 25px;
      }
    }
    .gallery-wrap-main {
      margin-top: 50px;
      .grid-sizer,
      .gallery-item {
        width: 50%;
        &:nth-of-type(4n-1),
        &:nth-of-type(4n-2) {
          width: 50%;
        }
        div {
          height: 450px;
        }
      }
    }
    .text-wrap {
      margin-top: 50px;
    }
    .gallery-wrap-additional {
      margin-top: 50px;
    }
    .social-list {
      margin-top: 60px;
    }
    .recent-posts-wrapper {
      margin-top: 60px;
      padding: 60px 0;
      .subtitle {
        margin-bottom: 5px;
      }
      .recent-wrapper {
        margin-top: 30px;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .menio {
    .recent-posts-wrapper .s-back-switch {
      margin-left: 10px;
      margin-right: 10px;
      width: auto;
    }
    .banner-wrap {
      .title {
        font-size: 44px;
      }
      .social-list {
        li {
          &:not(:last-of-type) {
            margin-right: 10px;
          }
        }

      }
    }
    .text-gallery-wrap {
      margin-top: 40px;
      padding-left: 25px;
      padding-right: 25px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      text-align: center;
    }
    .blockquote,
    .additional-text {
      width: 100%;
    }
    .blockquote {
      margin-right: 0;
      margin-bottom: 20px;
      font-size: 24px;
      cite {
        margin-top: 10px;
      }
    }
    .gallery-wrap-main {
      margin: 30px 25px 0;
      .grid-sizer,
      .gallery-item {
        width: 100%;
        padding: 0;
        padding-bottom: 15px;
        &:nth-of-type(4n-1),
        &:nth-of-type(4n-2) {
          width: 100%;
        }
        div {
          height: 300px;
        }
      }
    }
    .text-wrap {
      margin-top: 30px;
      text-align: center;
      padding-left: 25px;
      padding-right: 25px;
      .text {
        text-align: center;
      }
      p {
        width: 100%;
        margin-bottom: 20px;
      }
      h3, h2, h1 {
        margin-bottom: 20px;
      }
    }
    .gallery-wrap-additional {
      margin-top: 0;
      margin-left: 25px;
      margin-right: 25px;
    }
    .recent-posts-wrapper {
      margin-top: 45px;
      padding: 45px 0;
      .recent-wrapper {
        margin-top: 45px;
      }
    }
    .social-list {
      margin-top: 45px;
    }
  }
}
@media only screen and (max-width: 480px) {
  .menio {
    .banner-wrap {
      min-height: 450px;
      .title {
        padding: 0 15px;
        font-size: 28px;
      }
      .single-share {
        bottom: 35px;
      }
    }
    .text-wrap {
      margin-top: 15px;
    }
    .social-list {
      margin-top: 35px;
    }
    .recent-posts-wrapper {
      margin-top: 35px;
      padding: 35px 0;
      .title {
        font-size: 24px;
      }
      .recent-wrapper {
        margin-top: 30px;
      }
    }
  }
}

.static-menu .tg-grid-wrapper{
  max-width: 100%;
  left: 0!important;
}
.tg-item .tg-item-inner .main-color{
  color: #222;
}

.tg-item .tg-item-inner .second-color{
  color: #ffdd65;
}

.fix-z-index{
  position: relative;
  z-index: 90;
}

/*------------------------------------------------------*/
/*---------------------- 17. PORTFOLIO PARALLAX ----------------------*/

.portfolio-content-pixxy.parallax {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.parallax-window {
  position: relative;
  min-height: 100vh;
  .content-parallax {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 100px;
    max-width: 500px;
    width: 100%;
    padding: 50px;
    background-color: #fff;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    .title {
      font-size: 40px;
      color: #222222;
      line-height: 1.2;
      margin-top: 0;
    }
    .category-parallax {
      margin-top: 12px;
      margin-bottom: 15px;
      line-height: 1.2;

      a {
        font-size: 15px;
        font-weight: bold;
        color: #0073e6;
        text-decoration: none;
        line-height: 2;
        left: 0;
        &:hover {
          text-decoration: none;
          color: #222;
        }
      }
    }
    .text{
      font-size: 15px;
      color: #888;
      margin-top: 30px;
      line-height: 1.6;
    }
    .social-list{
      margin-top: 85px;
      margin-bottom: 15px;
      font-size: 17px;
      text-align: left;
      & > li{
        margin: 0px 23px 0 1px;
        a{
          color: #222;
          &:hover{
            color: #888;
          }
        }
      }
    }

    .info-item-wrap{
      margin-top: 55px;
      display: table;
      width: 100%;
      table-layout: fixed;
      .item{
        display: table-cell;
        width: 33.33%;
        padding-right: 10px;
        .name{
          font-size: 15px;
          color: #222;
          font-weight: bold;
        }
        .text-item{
          margin-top: 15px;
        }
        .text-item a,
        .text-item {
          color: #888;
          font-size: 15px;
          text-decoration: none;
        }
        .text-item a {
          &:hover{
            color: #222;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1400px) {
  .parallax-window .content-parallax .info-item-wrap{
    margin-top: 35px;
  }
  .parallax-window .content-parallax .social-list{
    margin-top: 50px;
  }
  .parallax-window .content-parallax{
    padding: 30px 50px;
  }
  .parallax-window .content-parallax .social-list{
    margin-bottom: 15px;
  }
  .parallax-window .content-parallax .text{
    margin-top: 25px;
  }
}

@media only screen and (max-width: 1199px) {
  .parallax-window {
    .content-parallax {
      .info-item-wrap {
        margin-top: 25px;
      }
      .text {
        margin-top: 15px;
      }
      .title {
        margin-bottom: 0;
        font-size: 30px;
      }
      .category-parallax {
        margin-bottom: 0;
      }
    }
  }
}


@media only screen and (max-width: 991px) {
  .parallax-window .content-parallax{
    max-width: calc(100% - 200px);
  }
  .parallax-window .content-parallax .info-item-wrap .item{
    width: 33.33%!important;
  }

  .parallax-window {
    .single-pagination {
      margin-left: 15px;
      margin-right: 15px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .parallax-window {
    position: relative;
    .content-parallax {
      max-width: calc(100% - 50px);
      left: 25px;
      position: absolute;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      top: 50%;
    }
  }
  .parallax-window .content-parallax{
    padding: 30px;
    text-align: center;
  }
  .parallax-window .content-parallax .info-item-wrap{
    display: none;
  }
  .parallax-window .content-parallax .title{
    font-size: 30px;
  }
  .parallax-window .content-parallax .social-list{
    margin-top: 40px;
    text-align: center;
  }
}

/*------------------------------------------------------*/
/*---------------------- 18. PORTFOLIO LEFT GALLERY ----------------------*/
.portfolio-content-pixxy.left_gallery {
  margin-bottom: 120px;
  padding-left: 25px;
  padding-right: 25px;
  .single-pagination {
    margin-left: -10px;
    margin-right: -10px;
  }
  .info-wrap {
    max-width: 600px;
    .title {
      font-size: 50px;
    }
    .text {
      line-height: 1.6;
      margin-top: 42px;
      -ms-word-wrap: break-word;
      word-wrap: break-word;
    }
  }
  .info-item-wrap {
    margin-top: 62px;
    .item {
      float: none;
      display: table;
      width: 100%;
      table-layout: fixed;
      margin-bottom: 20px;
    }
    .name {
      display: table-cell;
      font-size: 15px;
      line-height: normal;
      color: #222;
      font-weight: bold;
    }
    .text-item {
      display: table-cell;
      color: #888;
      font-size: 15px;
      line-height: 1.6;
      a {
        text-decoration: none;
        color: #888;
        &:hover{
          color: #222;
        }
      }
    }
  }
  .social-list {
    margin-top: 40px;
    margin-bottom: 54px;
    text-align: left;
    li {
      &:not(:last-of-type) {
        margin-right: 20px;
      }
    }
    a {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-bottom: 10px;
      text-align: center;
      text-decoration: none;
      color: #222;
      font-size: 18px;
      &:hover {
        color: #888;

      }
    }
    &:hover a {
      opacity: 1;
    }
  }
  .left_gallery--button-wrapper {
    text-align: left;
  }
  .media-gallery{
    .gallery-item{
      display: inline-block;
      width: auto;
    }
    .horizontal{
      width: calc(100% - 30px);
      height: auto;
      margin: 15px 0;
      padding: 0 15px;
    }
    .vertical{
      width: calc(50% - 15px);
      float: left;
      height: auto;
      padding: 0 15px;
      margin: 15px 0;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .portfolio-content-pixxy.left_gallery {
    padding: 0 165px;
    .left_gallery_desc {
      padding-top: 110px;
    }
    .single-pagination.left_gallery {
      .icon-wrap {
        display: none;
      }
      pointer-events: none;
      position: fixed;
      top: 50%;
      right: 0;
      left: 0;
      width: 100%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      z-index: 10;
      &.change-color {
        z-index: -1;
        a.content {
          color: #fff;
        }
      }
    }
    .pag-prev {
      pointer-events: visible;
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      transform: rotate(-90deg);
      margin-left: -20px;
      &::before {
        content: none;
      }
      span span {
        display: none;
      }
    }
    .pag-next {
      pointer-events: visible;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg);
      &::after {
        content: none;
      }
      span span {
        display: none;
      }
    }
  }
}
@media only screen and (max-width: 1199px) {
 .portfolio-content-pixxy.left_gallery {
   .left_gallery_desc {
     padding-top: 30px;
   }
   .info-wrap {
     .text {
       margin-top: 15px;
     }
   }
 }
}
@media only screen and (max-width: 991px) {
  .portfolio-content-pixxy.left_gallery .info-wrap .title{
    font-size: 40px;
    margin-top: 15px;
  }
  .portfolio-content-pixxy.left_gallery {
    .left_gallery_desc {
      padding-top: 0px;
    }
    margin-bottom: 0px;
    .left_gallery_desc {
      margin-bottom: 70px;
    }
    .media-gallery {
      .vertical,
      .horizontal {
        width: 100%;
        padding: 0;
        margin: 0 0 15px 0;
      }
    }
  }
  .portfolio-content-pixxy.left_gallery .info-wrap {
    max-width: 100%;
    text-align: center;
  }
  .portfolio-content-pixxy.left_gallery .social-list{
    text-align: center;
  }
  .portfolio-content-pixxy.left_gallery .left_gallery--button-wrapper{
    text-align: center;
  }
}
@media only screen and (max-width: 767px) {
  .portfolio-content-pixxy.left_gallery .info-wrap .title{
    margin-top: 0px;
  }
  .portfolio-content-pixxy.left_gallery {
    margin-bottom: 0;
    .info-wrap {
      margin: 0 auto;
      .text {
        margin-top: 15px;
        text-align: center;
      }
      .title {
        font-size: 30px;
        text-align: center;
      }
    }
    .info-item-wrap {
      margin-top: 30px;
    }
    .social-list {
      margin: 20px 0;
      text-align: center;
    }
    .left_gallery--button-wrapper {
      text-align: center;
    }
    .left_gallery_desc {
      margin-bottom: 40px;
    }
  }
}

.vc_row{
  position: relative;
}

/*------------------------------------------------------*/
/*---------------------- 18. PORTFOLIO METRO ----------------------*/

.portfolio-metro {
  .tg-filters-holder {
    padding: 105px 0 70px;

    @media  only screen and (max-width: 991px) {
      padding: 80px 0 50px;
    }

    @media  only screen and (max-width: 767px) {
      padding: 50px 0 30px;
    }
  }
}

/* ------------------------------------------- */
/* URBAN SLIDER */
/* ------------------------------------------- */
.urban {
  &.single-pagination {
    &::before {
      content: "";
      position: absolute;
      left: 50%;
      width: 200%;
      transform: translateX(-50%);
      top: 0;
      display: block;
      height: 1px;
      background-color: #eeeeee;
    }
  }
}
.urban_slider {
  .gallery-top-slide {
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 800px;
    margin: 0 15px;
  }
  .slick-arrow {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-image: none;
    width: 60px;
    height: 60px;
    border: 0;
    outline: none;
    background-color: #ffffff;
    color: #222222;
    -webkit-transition: color .3s ease, background-color .3s ease;
    -o-transition: color .3s ease, background-color .3s ease;
    transition: color .3s ease, background-color .3s ease;
    z-index: 10;
    &::before {
      font-family: "Ionicons", sans-serif;
      font-size: 28px;
    }
    &:hover {
      background-color: #222222;
      color: #ffffff;
    }
  }
  .slick-prev {
    left: 0;
    &::before {
      content:"\f3d5";
    }
  }
  .slick-next {
    right: 0;
    &::before {
      content:"\f3d6";
    }
  }
  .gallery-thumb {
    margin-top: 70px;
    margin-bottom: 70px;
    width: 130%;
    margin-left: -15%;
  }
  .gallery-thumb-slide {
    margin: 0 10px;
    text-align: center;
  }
  .pagination-title {
    display: block;
    margin-top: 10px;
    color: #d8d8d8;
    font-size: 40px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: color .3s ease;
    -o-transition: color .3s ease;
    transition: color .3s ease;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
  }
  .slick-current {
    .pagination {
      &-title {
        color: #222222;
      }
    }
  }
}

@media only screen and (max-width: 1199px) {
  .urban_slider {
    .gallery-thumb {
      margin-top: 50px;
      margin-bottom: 50px;
    }
    .gallery-top-slide {
      min-height: 500px;
    }
  }
}
@media only screen and (max-width: 767px) {
  .urban_slider {
    .gallery-thumb {
      margin-top: 30px;
      margin-bottom: 30px;
    }
    .gallery-top-slide {
      min-height: 350px;
    }
    .pagination-title {
      font-size: 24px;
    }
    .slick-arrow {
      width: 40px;
      height: 40px;
      &::before {
        font-size: 20px;
      }
    }
  }
}


/*------------------------------------------------------*/
/*---------------------- ZOOM SLIDER ----------------------*/

.full_screen_slider {
  position: relative;
  margin: 0 auto 70px;
  overflow: hidden;
  direction: ltr;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  height: inherit;
  .swiper-arrow-left,
  .swiper-arrow-right {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: white;
    width: 33px;
    height: 42px;
    cursor: pointer;
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
    i {
      font-size: 40px;
    }
    &::before {
      content: '';
      width: 30px;
      background-color: #fff;
      height: 5px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      display: inline-block;
      position: absolute;
    }
  }
  .swiper-arrow-left {
    left: 20px;
    &:hover {
      left: 15px;
    }
    &::before {
      left: 3px;
    }
  }
  .swiper-arrow-right {
    right: 30px;
    text-align: right;
    &:hover {
      right: 20px;
    }
    i {
      left: auto;
      right: 0;
    }
    &::before {
      right: 3px;
    }
  }
  .swiper-wrapper {
    cursor: ew-resize;
  }
  &.numbers_arrows .swiper-wrapper {
    cursor: none;
  }
  &.simple_arrows .full-screen-slider__img:after {
    display: none;
  }
  &.kenburn_slider {
    .swiper-slide {
      overflow: hidden;
      .full-screen-slider__img {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: transform 10s ease-in;
        transition: transform 10s ease-in;
      }
    }
    .swiper-slide-active {
      .full-screen-slider__img {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        -webkit-transition: transform 10s ease-in;
        transition: transform 10s ease-in;
      }
    }
  }
  .slider-click {
    font-size: 11px;
    line-height: 2;
    font-weight: 400;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 20;
    opacity: 0;
    visibility: hidden;
    color: #fff;
    width: 32px;
    height: 32px;
    -webkit-transition: opacity 0.3s ease, visibility 0.3s ease;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  .slider-click.right {
    right: 0;
    .arrow {
      left: auto;
      right: 20px;
    }
    .number {
      right: 0;
      left: auto;
    }
  }
  .slider-click.left {
    left: 0;
  }
  .slider-click .arrow {
    width: 22px;
    height: 22px;
    position: absolute;
    left: 24px;
    top: -8px;
    margin-top: -11px;
  }
  .slider-click .number {
    position: absolute;
    left: 0;
    width: 57px;
  }
  .slider-click.left {
    .arrow::before {
      content: '\f3d5';
      left: 3px;
      position: absolute;
      color: #fff;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      font-family: 'Ionicons', sans-serif;
      font-size: 35px;
      font-weight: 400;
      display: block;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
  }
  .slider-click .left {
    text-align: right;
    float: left;
    width: 23px;
    height: 20px;
    position: relative;
    top: 0;
  }
  .slider-click .middle {
    position: absolute;
    &::before {
      content: '/';
    }
    left: 27px;
    top: 0;
  }
  .slider-click.right {
    .arrow::before {
      content: '\f3d6';
      right: -6px;
      position: absolute;
      color: #fff;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      font-family: 'Ionicons', sans-serif;
      font-size: 35px;
      font-weight: 400;
      display: block;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
  }
  .slider-click .right {
    float: right;
    width: 23px;
    height: 30px;
    position: relative;
    top: 0;
  }
}

.full-screen-slider__img {
  .full-content-wrap {
    position: relative;
    top: 270px;
    left: 110px;
    padding-right: 30px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #ffffff;
    .full-title {
      font-size: 70px;
      line-height: 1.7;
      margin-bottom: 15px;
    }
    .full-subtitle {
      font-size: 12px;
      line-height: 2;
      font-weight: 400;
      text-transform: uppercase;
    }
  }
}

.slider-wrapperok-left,
.slider-wrapperok-right {
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  z-index: 15;
  overflow: hidden;
  cursor: none;
}

.slider-wrapperok-left {
  left: 0;
  &:hover .slider-click.left {
    opacity: 1;
    visibility: visible;
  }
}

.slider-wrapperok-right {
  right: 0;
  &:hover .slider-click.right {
    opacity: 1;
    visibility: visible;
  }
}

.full_screen_slider .slider-click.right.disabled,
.full_screen_slider .slider-click.left.disabled {
  opacity: 0;
}

.full-screen-slider__img {
  height: 100vh;
  max-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.full-screen-slider__img:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15);
}

.full_screen_slider .pagination {
  display: none;
}


@media (max-width: 991px) {
  .full_screen_slider {
    margin-bottom: 50px;
  }
  .full-screen-slider__img {
    .full-content-wrap {
      top: 50%;
      left: 30px;
      .full-title {
        font-size: 40px;
      }
      .full-subtitle {
        line-height: 18px;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .full_screen_slider {
    margin-bottom: 30px;
  }
  .slider-wrapperok-left, .slider-wrapperok-right {
    display: none;
  }
  .slider-click {
    display: none;
  }
}

@media (max-width: 600px) {
  .full-screen-slider__img {
    .full-content-wrap {
      text-align: center;
      left: 0;
      padding: 0 15px;
    }
  }
}


//FULL CLASSIC SLIDER
.full_slider {
  .social-list {
    margin-bottom: 40px;
    margin-top: 40px;
    padding: 0;
    text-align: center;
    @media (max-width: 767px) {
      margin-bottom: 25px;
      margin-top: 25px;
    }
    li {
      margin: 0;
      &:not(:last-of-type) {
        margin-right: 20px;
      }
    }
    a {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      border-radius: 50%;
      color: #222;
      font-size: 18px;
      text-decoration: none;
      &:hover {
        color: #888;
      }
    }
    &:hover a {
      opacity: 1;
    }
  }
}

.portfolio-pagination.full_slider {
  display: none;
}

.portfolio-content-pixxy.full_slider {
  margin-bottom: -20px;
  .slider-wrap {
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: -webkit-calc(100% - 60px);
    height: calc(100% - 60px);
    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, .3);
    }
  }
  .content-wrap {
    position: absolute;
    left: 50%;
    bottom: 202px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    .portfolio-title {
      color: #ffffff;
      font-size: 60px;
      font-weight: bold;
      text-transform: uppercase;
      -ms-word-wrap: break-word;
      word-wrap: break-word;
    }
  }
  .swiper-pagination {
    position: absolute;
    bottom: 17px;
    right: 0;
    text-align: right;
  }
  .swiper-pagination .swiper-pagination-bullet {
    display: inline-block;
    background-color: #222;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    cursor: pointer;
    margin: 0;
    margin-left: 10px;
    opacity: .2;
    -webkit-transition: opacity 350ms ease;
    transition: opacity 350ms ease;
    &.swiper-pagination-bullet-active{
      opacity: .5;
    }
  }
}

.swiper-container.portfolio-content-pixxy.full_slider .swiper-slide{
  cursor: ew-resize;
}

@media only screen and (max-width: 991px) {
  .portfolio-content-pixxy.full_slider .content-wrap .portfolio-title {
    font-size: 40px;
  }
}

@media only screen and (max-width: 767px) {
  .portfolio-content-pixxy.full_slider {
    margin-bottom: 0;
  }
  .portfolio-content-pixxy.full_slider .swiper-pagination {
    text-align: center;
  }
  .portfolio-content-pixxy.full_slider .content-wrap .portfolio-title {
    font-size: 30px;
  }
  .portfolio-content-pixxy.full_slider .content-wrap {
    text-align: center;
    width: 100%;
    bottom: 130px;
    .excerpt {
      max-width: 100%;
    }
  }
}

